<div class="seccion" id="impar">
  <h1 class="centrar">Sobre SkinSpot</h1>
  <p class="centrar">SkinSpot é unha ferramenta de apoio á diagnose clínica de cancro de pel melanoma.</p>
</div>

<div class="seccion" id="par">
  <h1 class="centrar">Cómo se emprega?</h1>
  <div class="contenedor-2">
      <div class="left">
        <img class="paso" src="assets/icons/paso1.png">
        <img class="paso" src="assets/icons/paso2.png">
        <img class="paso" src="assets/icons/paso3.png">
      </div>
      <div class="right">
        <h4>Sube unha imaxe</h4>
        <p>Selecciona unha imaxe que queiras analizar</p>
        <h4>Selecciona a rexión de interese</h4>
        <p>Coa axuda do rato, selecciona a rexión de interese debuxando sobre a imaxe</p>
        <h4>Obtén o resultado</h4>
        <p>Activa a análise e agarda os resultados</p>
      </div>
  </div>
</div>

<div class="seccion" id="impar">
  <h1 class="centrar">Cómo funciona?</h1>
  <div class="contenedor">
    <div class="left" id="como-funciona">
      <div class="justificar">
        <p>Na actualidade, as técnicas para a detección e a diagnose de melanoma adoitan ser invasoras e, en gran parte, dependen da agudeza visual  do  persoal  médico.  Por  este  motivo,  xorde  a  idea  de  desenvolver  unha ferramenta non invasora empregando técnicas de Intelixencia Artificial. SkinSpot emprega máquinas de soporte vectorial para analizar imaxes dermatoscópicas e ofrecer unha diagnose, para o que foi entreada empregando imaxes da base de datos Ph2Dataset.</p>
        <div class="centrar"><a target="_blank" class="link" href="https://www.fc.up.pt/addi/ph2%20database.html">Base de datos</a></div>
      </div>
    </div>
    <div class="right"><img class="ai-resize" src="assets/icons/ai.png"></div>
  </div>
</div>

<div class="seccion" id="par">
  <h1 class="centrar">O equipo de desenvolvemento</h1>
  <div class="contenedor">
      <div class="left"><img id="equipo-icon"  src="assets/icons/team.png"></div>
      <div class="right" id="equipo">
        <p class="justificar">SkinSpot foi desenvolta por Inés San Luís Rodríguez como Traballo de Fin de Grao para a obtención do Grao en
Enxeñaría Informática na Universidade de Santiago de Compostela. <br><br>  O traballo foi titorizado por Eva Cernadas García e cotitorizado por Manuel Fernández Delgado.</p>
        <div class="centrar" id="equipo-links">
          <a target="_blank" class="link" href="https://www.linkedin.com/in/ines-sanluis/">Inés</a>
          <a target="_blank" class="link" href="https://citius.usc.es/equipo/persoal-adscrito/eva-cernadas-garcia">Eva</a>
          <a target="_blank" class="link" href="https://citius.usc.es/equipo/persoal-adscrito/manuel-fernandez-delgado">Manuel</a>
        </div>
      </div>
  <!-- <div><img class="equipo-icon" src="assets/icons/team.png"></div> -->
</div>

</div>

<footer>
<div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>
