<header>
  <!-- <div class="container">
    <a target="_blank" href="https://www.linkedin.com/in/ines-sanluis/"><img src="assets/icons/linkedin.png" class="contacto"/></a>
  </div> -->
  <h1>{{title}}</h1>
  <!-- <h2>Apoio á diagnose clínica de cancro de pel melanoma</h2> -->
  <nav>
    <a routerLink="/index">Inicio</a>
    <a routerLink="/analizar">Analizar imaxe</a>
    <!-- <a routerLink="/database">Base de datos</a> -->
    <a routerLink="/reportar">Reportar problema</a>
  </nav>
</header>
