<h2>PH2 Database</h2>
<label for="filtroDiagnose">Diagnose</label>
<select name="filtroDiagnose" (change)="cambioFiltroDiagnose($event.target.value)">
  <option *ngFor="let diagnose of diagnoses;">{{diagnose}}</option>
</select>
<!--
<input type="checkbox" name="cor1" value="White" [(ngModel)]="cbWhite" (change)="cambioCor($event.target.value)"><label for="White">White</label>
<input type="checkbox" name="cor2" value="Red"><label for="Red">Red</label>
<input type="checkbox" name="cor3" value="Light brown"><label for="Light brown">Light brown</label>
<input type="checkbox" name="cor4" value="Dark brown"><label for="Dark brown">Dark brown</label>
<input type="checkbox" name="cor5" value="Blue gray"><label for="Blue gray">Blue gray</label>
<input type="checkbox" name="cor6" value="Black"><label for="Black">Black</label> -->

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Diagnose</th>
      <th>Branco</th>
      <th>Vermello</th>
      <th>Marrón claro</th>
      <th>Marrón escuro</th>
      <th>Gris azulado</th>
      <th>Negro</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of datos">
      <th>{{d.id}}</th>
      <th>{{d.diagnosis}}</th>
      <th>{{d.white}}</th>
      <th>{{d.red}}</th>
      <th>{{d.light_brown}}</th>
      <th>{{d.dark_brown}}</th>
      <th>{{d.blue_gray}}</th>
      <th>{{d.black}}</th>
    </tr>
  </tbody>
</table>
