input {
  text-align: center;
  background-color: blue;
  display: inline-block;
  width: 50%;
  height: 300px;
}

label{
  text-align: center;
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

div{
  cursor: pointer;
  background-color: blue;
  display: inline-block;
  width: 50%;
  height: 500px;
}
/*
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
/*
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}
*/
