*{
  font-family: Arial, Helvetica, san-sans-serif;
  box-sizing: border-box;
}
.resultados{
  min-width: 1000px;
  padding-top: 70px;
}
.titulo{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.left{
  float: left;
  width: 50%;
}
.right{
  float: right;
  width: 50%;
}
#imaxe{
  height: 500px;
  width: auto;
  margin-bottom: 100px;
  border-radius: 5px;
}
#loading{
  text-align: center;
}
#txt-loading{
  text-align: center;
  margin-top: 140px;
}
.diagnose{
  margin-left: 100px;
}
.diagnose p{
  color: white;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}

#atypical{
  background-color: #FFB90F;
}

#common{
  background-color: #4CAF50;
}

#melanoma{
  background-color: #FF6347;
}
button {
  cursor: pointer;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border-color: green;
  margin-bottom: 100px;
}
.erro{
  color: red;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 50px;
  text-align: justify;
}
.centrar{
  text-align: center;
}
.bandas{
  margin-top: 50px;
  padding-top: 0px;
  margin-left: 100px;
}
#mensaxe-erro{
  text-align: center;
}

.row-banda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#exportar{
  padding-top: 15px;
  float: right;
}
.column-banda {
  display: flex;
  flex-direction: column;
}

.lbl-banda{
    background-color: #E8EBE4;
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.banda{
  padding: 5px 20px 5px 20px;
}
footer{
    background-color: #4CAF50;
    padding: 20px;
    position: fixed;
    bottom: -200px;
    width: 100%;
    height: 60px;   /* Height of the footer */
}

.selector{}
.selector p{
  /* margin-top: 20px; */
  padding-right: 50px;
}
.selector select{
  border-radius: 4px;
  padding: 15px 25px 15px 25px;
}
.contenido{
  text-align: center;
}
